.place__title {
  grid-area: title;
  max-width: 340px;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.05;
  margin: 0;
  margin-bottom: 48px;
}

@media (max-width: 768px) {
  .place__title {
    max-width: 327px;
    font-size: 42px;
    line-height: 46px;
  }
}

@media (max-width: 500px) {
  .place__title {
    margin-bottom: 32px;
    font-size: 40px;
  }
}

@media (max-width: 320px) {
  .place__title {
    max-width: 250px;
    margin-bottom: 32px;
    padding: 0 10px 0;
    font-size: 28px;
  }
}

