.places {
  margin: 92px 148px;
}

@media (max-width: 1024px) {
  .places {
    margin: 92px 48px;
  }
}

@media (max-width: 768px) {
  .places {
    margin: 88px 24px 90px;
  }
}

@media (max-width: 500px) {
  .places {
    margin: 68px 24px 62px;
  }
}

@media (max-width: 320px) {
  .places {
    margin: 68px 0 62px;
  }
}
