.place__article {
  grid-area: article;
}

/* @media (max-width: 500px) {
  .place__article {

  }
} */

@media (max-width: 320px) {
  .place__article {
    max-width: 288px;
    margin: 0 16px 0;
  }
}
