.lead__title {
  text-align: center;
  max-width: 720px;
  max-height: 200px;
  font-family: 'Inter', sans-serif;
  font-weight: 900;
  font-size: 96px;
  line-height: 1.04;
  padding: 0 136px 0;
  margin: 0;
  margin-bottom: 34px;
}

@media (max-width: 1024px) {
  .lead__title {
    padding: 0 104px 0;
    margin-bottom: 34px;
  }
}

@media (max-width: 768px) {
  .lead__title {
    padding: 0 24px 0;
    margin-bottom: 32px;
  }
}

@media (max-width: 320px) {
  .lead__title {
    max-width: 288px;
    max-height: 88px;
    font-size: 40px;
    line-height: 1.1;
    padding: 0 16px 0;
    margin-bottom: 16px;
  }
}
