@import url(./__title/cover__title.css);
@import url(./__subtitle/cover__subtitle.css);

.cover {
  position: relative;
  background-image: url(../../images/__background.png);
  background-size: cover;
  margin: 0 48px 92px;
  z-index: 0;
}

.cover::before {
  content: "";
  background-color: rgba(42, 44, 47, .3);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.cover:after {
  content: "";
  background-color: rgba(42, 44, 47, .8);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0;
  transition: opacity .3s;
}

.cover:hover:after {
  opacity: 1;
}
