@import url(./__link/cover__link.css);
@import url(./__title/cover__title.css);
@import url(./__subtitle/cover__subtitle.css);

.cover {
  position: relative;
  background-image: url(../../images/cover__background.png);
  background-size: cover;
  background-position: center;
  margin: 0 48px 92px;
  z-index: 0;
}

.cover::before {
  content: "";
  background-color: rgba(42, 44, 47, .3);
  position: absolute;
  width: 100%;
  height: 100%;
}

.cover:after {
  content: "";
  background-color: rgba(42, 44, 47, .8);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

.cover:hover:after {
  opacity: 1;
}

@media (max-width: 1024px) {
  .cover {
    margin: 0 0 92px;
  }
}

@media (max-width: 768px) {
  .cover {
    margin: 0 0 130px;
  }
}

@media (max-width: 500px) {
  .cover {
    margin: 0 0 64px;
  }
}

@media (max-width: 320px) {
  .cover {
    margin: 0 0 50px;
  }
}
