@import url(./__link/cover__link.css);
@import url(./__title/cover__title.css);
@import url(./__subtitle/cover__subtitle.css);

.cover {
  background-image: url(../../images/cover__background.png);
  background-size: cover;
  background-position: center;
  margin: 0 48px 92px;
}

@media (max-width: 1024px) {
  .cover {
    margin: 0 0 92px;
  }
}

@media (max-width: 768px) {
  .cover {
    margin: 0 0 130px;
  }
}

@media (max-width: 500px) {
  .cover {
    margin: 0 0 64px;
  }
}

@media (max-width: 320px) {
  .cover {
    margin: 0 0 50px;
  }
}
