.place__paragraph {
  grid-area: paragraph;
  max-width: 484px;
  height: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.63;
  margin: 0;
}

@media (max-width: 1024px) {
  .place__paragraph {
    height: 100%;
    max-width: 456px;
  }
}
