@import url(./__link/place__link.css);
@import url(./__url-heading/place__url-heading.css);

.place__website {
  grid-area: website;
  align-self: end;
  font-weight: 400;
  max-width: 456px;
}

@media (max-width: 320px) {
  .place__website {
    max-width: 250px;
    margin: 0 16px 0;
  }
}
