@import url(./__link/place__link.css);
@import url(./__url-heading/place__url-heading.css);

.place__website {
  grid-area: website;
  font-weight: 400;
  max-width: 456px;
  max-height: 46px;
  margin: 0;
  margin-bottom: 48px;
}

@media (max-width: 320px) {
  .place__website {
    max-width: 250px;
    margin-bottom: 32px;
    padding: 0 10px 0;
  }
}
